body {
    background-color: cadetblue;
    padding: 20px;
    margin: 10px;
}

h1 {
    color: aliceblue;
    text-align: center;
    margin: 3px;
    padding: 4px;
    box-shadow: inset 4px 5px 8px red;
}

button {
    padding: 3px;
    margin: 5px;
    border: 2px solid blueviolet;
}

button:hover {
    background-color: darkcyan;
}